body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

button {
  cursor: pointer;
  outline: none;
  background: transparent;
}
.game {
  background: url(img/background.png) center/cover;
  width: 700px;
  height: 400px;
  border-radius: 20px;
  margin: auto;
}

.game__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game__button {
  width: 40px;
  height: 40px;
  font-size: 25px;
  background-color: wheat;
  border: 4px solid black;
  margin-top: 8px;
  transition: transform 200ms ease-in;
}

.game__button:hover {
  transform: scale(1.1);
}

.game__timer {
  width: 70px;
  font-size: 25px;
  background-color: white;
  text-align: center;
  border: 4px solid black;
  border-radius: 20px;
  margin-top: 8px;
  padding: 0 8px;
  visibility: hidden;
}

.game__score {
  width: 45px;
  height: 45px;
  font-size: 30px;
  border-radius: 50%;
  color: white;
  background-color: salmon;
  text-align: center;
  margin-top: 8px;
  padding: 8px;
  border: 4px solid black;
  visibility: hidden;
}

.game__field {
  width: 100%;
  height: 47%;
  transform: translateY(20%);
}

.pop-up {
  width: 300px;
  height: 150px;
  background-color: #00000070;
  color: white;
  text-align: center;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-140%);
}

.pop-up--hide {
  display: none;
}

.pop-up__refresh {
  width: 50px;
  height: 50px;
  font-size: 25px;
  background-color: wheat;
  border: 4px solid black;
}

.pop-up__message {
  font-size: 35px;
  margin-top: 8px;
  padding: 8px;
}
